@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1600px !important;
  margin: 0 auto;
}

.swiper {
  /* border-radius: 3rem !important;
  -webkit-border-radius: 3rem !important;
  -moz-border-radius: 3rem !important;
  -ms-border-radius: 3rem !important;
  -o-border-radius: 3rem !important; */

  padding: 0 10px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000 !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: #d3bd9d !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
}

.swiper-button-next {
  padding-left: 0.3rem;
  z-index: 1 !important;
}

.swiper-button-prev {
  padding-right: 0.1rem;
  z-index: 1 !important;
}
.authorSlider .swiper-slide {
  width: 20rem;
  position: relative;
}
.swiper-wrapper {
  padding: 1rem 0;
}

.homeBanner .swiper-wrapper {
  padding: 0rem 0;
}

.swiper-3d .swiper-slide-shadow-left {
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
}

.swiper-3d .swiper-slide-shadow-right {
  border-radius: 1.6rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.swiper-pagination-bullet-active {
  background: #5c4c49 !important;
  width: 1.3rem !important;
  border-radius: 1rem !important;
  -webkit-border-radius: 1rem !important;
  -moz-border-radius: 1rem !important;
  -ms-border-radius: 1rem !important;
  -o-border-radius: 1rem !important;
}

.hideScroll {
  &::-webkit-scrollbar {
    display: none;
  }
}

.ant-statistic-content-value {
  font-size: 1.3rem !important;
  color: #5c4c49 !important;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c4c49;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
  -webkit-animation: float 4s ease-in-out infinite;
}
.animation-delay-100 {
  animation-delay: 1s;
}
