@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000 !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: #d3bd9d !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
}

.swiper-button-next {
  padding-left: 0.3rem;
}

.swiper-button-prev {
  padding-right: 0.1rem;
}
.authorSlider .swiper-slide {
  width: 20rem;
  position: relative;
}
.authorSlider .swiper-wrapper {
}

.swiper-3d .swiper-slide-shadow-left {
  background: #00000015;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.swiper-3d .swiper-slide-shadow-right {
  background: #00000013;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.swiper-pagination-bullet-active {
  background: #5c4c49 !important;
  width: 1.3rem !important;
  border-radius: 1rem !important;
  -webkit-border-radius: 1rem !important;
  -moz-border-radius: 1rem !important;
  -ms-border-radius: 1rem !important;
  -o-border-radius: 1rem !important;
}

.hideScroll {
  &::-webkit-scrollbar {
    display: none;
  }
}

.ant-statistic-content-value {
  font-size: 1.3rem !important;
  color: #5c4c49 !important;
}
