@media screen and (width < 1024px) {
  /* .authorSlider .swiper-slide {
    width: 30rem;
    position: relative;
  } */
}

@media screen and (width < 748px) {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: #000 !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: 2rem !important;
    width: 2rem !important;
  }

  .swiper-button-next {
    padding-left: 0.1rem;
  }
  /* .authorSlider .swiper-slide {
    width: 20rem;
    position: relative;
  } */
  .swiper-button-prev {
    padding-right: 0.1rem;
  }

  .swiper-pagination-bullet-active {
    background: #5c4c49 !important;
    width: 1.3rem !important;
    border-radius: 1rem !important;
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    -ms-border-radius: 1rem !important;
    -o-border-radius: 1rem !important;
  }
}
